<form class="" action="/events/{{event.id}}?_method=PUT" method="post">

</form>
<form class="" action="/events/{{event.id}}?_method=DELETE" method="POST">
  <button type="submit" class='btn btn-danger' name="button">Delete</button>
</form>
